<!-- cicd_project/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django React Integration</title>
</head>
<body>
    <div id="root"></div>
    <script src="{% static 'user_frontend/build/static/js/main.chunk.js' %}"></script>
    <script src="{% static 'user_frontend/build/static/js/0.chunk.js' %}"></script>
    <script src="{% static 'user_frontend/build/static/js/bundle.js' %}"></script>
</body>
</html>
